/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500");

/* VARIABLES CSS */
:root{
    --header-height: 3 rem;
    --nav-width: 324px;

/* Font Weight */
--font-medium: 500;
--font-semi-bold: 600;
--font-bold: 700;

/* color */
--first-color: #cc4b2c
--first-color-dark: #662616
--first-color-darken: #290f09
--text-color: #54423D
--first-color-light: #EAE7E6
--first-color-lighten: #FFFAFA

/* font and typography */
--body-font: 'Poppins', sans-serif;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;

/* margenes */
--mb-1: .5rem;
--mb-2: 1rem;
--mb-3: 1.5rem;
--mb-4: 2rem;
--mb-5: 2.5rem;

/* z index */
--z-fixed: 100;
}

@media screen and (min-width: 768px) {
:root{
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem; 
    }
}

/* BASE */
*,::before,::after{
box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, p{
    margin: 0;
}

h3{
    font-weight: var(--font-semi-bold);
}

ul{
    margin: 0;
    padding: 0;
    list-style: 0;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* CLASS CSS */
.section{
   padding: 4 rem 0 2 rem; 
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

/* layout*/
.bd-grid{
    max-width: 1024;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4 px rgba(0,0,0,1);
}

/* NAV */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: green;
    transition: .5s;
}

.nav_close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: red;
    cursor: pointer;
}

.nav_item{
    margin-bottom: var(--mb-4)
}

.nav_link{
    font-size: 1rem;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav_link:hover{
    color: blueviolet;
}

.nav_toggle{
    color: yellowgreen;
    font-size: 3rem;
    cursor: pointer;
}

/* show menu */
.show{
    left: 0;
}

/* active */
.active{
    color: rgb(248, 248, 135);
}

/* home */
.home_container{
    height: calc(100vh -(--header-height));
    align-items: center;
}

.home_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}

.home_img{
    padding-top: 0;
    padding-left: 0;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}

.home_img img{
    width: 300px;
}

.home_title{
    font-size: var(--h1-font-size);
    color: darkgreen;
    font-weight: var(--font-semi-bold);
}

.home_profession{
    font-size: var(--small-font-size);
    color: darkblue;
    margin-bottom: var(--mb-5);
}

.home_social{
    margin-bottom: 5rem;
}

.home_social-link{
    display: inline-flex;
    background-color: green;
    color: lightgoldenrodyellow;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.home_social-link:hover{
    background-color: var(--first-color-dark);
}

.home_button{
    width: 30%;
}

/* buttons */
.button{
    display: inline-block;
    background-color: lightgreen;
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}

.button:hover{
    background-color: green;
}

.button_light{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.button_light:hover{
    color: var(--first-color-lighten);
}

/* about */
.about_container{
    row-gap: 2rem;
}

.about_data{
    text-align: center;
}

.about_description{
    margin-bottom: var(--mb-4);
}

.about_img{
    height: 300px;
    border-radius: .5rem;
    margin-left: 0 auto;   
}

.about_information{
    margin-bottom: var(--mb-4);
}

.about_information-title{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.about_information-data{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}

.about_information-icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}

.about_information-subtitle{
    display: block;
    font-weight: var(--font-semi-bold);
}

.about_information-subtitle-small{
    font-size: var(--small-font-size);
}

/* skills */
.skills_container{
    row-gap: 2rem;
}

.skills_subtitle{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.skills_data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills_name{
    text-transform: uppercase;
}

.skills_bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: green;
}

.skills_html{
    width: 80%;
}
.skills_js{
    width: 90%;
}
.skills_react{
    width: 70%;
}
.skills_angular{
    width: 60%;
}
.skills_php{
    width: 80%;
}

.skills_node{
    width: 90%;
}
.skills_firebase{
    width: 70%;
}
.skills_python{
    width: 60%;
}

/* EDUCATION */
.education_container{
    row-gap: 2rem;
}

.education_content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education_year, .education_race{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.education_university, .education_specialty{
    display: block;
    font-size: var(--smaller-font-size);
}

.education_year, .education_university{
    text-align: right;
}

.education_time{
    padding: 0 1rem;
    justify-self: center;
}

.education_rounder{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
}

.education_rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid green;
    border-radius: 50%;
}

.education_line{
    display: block;
    height: 90%;
    width: 2px;
    background-color: green;
    transform: translate(5px, -4px);
}

/* service */
.services_container{ 
    row-gap: 2rem;
}

.services_content{
    padding: 1.5rem .5rem;
    border: 5px solid rgb(18, 175, 18);
    border-radius: 2.5rem;
    text-align: center;
}

.services_icon{
    font-size: 2rem;
    padding: .5rem;
    background-color: rgb(60, 236, 60);
    color: rgb(95, 90, 86);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.services_title{
    font-size: 1.25rem;
    color: rgb(4, 4, 100);
    margin-bottom: var(--mb-1);
}

.services_content, .services_icon, .services_description, .services_title{
    transition: .1s;
}

.services_content:hover{
    background-color: rgb(195, 239, 130);
}

.services_content:hover .services_icon{
    background-color: rgb(5, 95, 5);
    color: whitesmoke;
}

.services_content:hover .services_title{
    color: brown;
}

.services_content:hover .services_description{
    color: darkred;
}

/* PROJECT IN MIND */
.project{
    background-color: rgb(105, 239, 105);
    padding: 0;
}

.project_container{
    row-gap: 2rem;
}

.project_data{
    text-align: center;
}

.project_title, .project_description{
    color: var(--first-color-lighten);
}

.project_description{
    margin-bottom: var(--mb-5);
}

.project_img{
    width: 820px;
    justify-self: center;
}

/* works */
.works_container{
    justify-items: center;
    row-gap: 2rem;
}

.works_img{
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.works_data{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    transition: .5s;
}

.works_link{
    display: inline-flex;
    font-size: 3.5rem;
    background-color: rgb(6, 67, 6);
    color: rgb(225, 135, 71);
    padding: .25rem;
    border-radius: .25rem;
    margin-bottom: var(--mb-2);
}

.works_title{
    font-size: var(--h2-font-size);
    color: darkorange;
}

.works_img:hover .works_data{
    bottom: 0;
}

/* CONTACT */
.contact_container{
    row-gap: 3rem;
}

.contact_input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: lightgrey;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}

.contact ::placeholder{
    color: var(--first-color-dark);
    font-family: var(--font-bold);
    font-weight: var(--font-medium);
}

.contact_button{
    outline: none;
    border: none;
    font-family: var(--font-bold);
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.contact_info{
    margin-bottom: var(--mb-3);
}

.contact_subtitle{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.contact_text{
    display: block;
    padding-left: 1rem;
}

/* FOOTER */
.footer{
    background-color: rgb(6, 92, 6);
    color: lightcyan;
    text-align: center;
}

.footer_title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer_description{
    margin-bottom: var(--mb-2);
}

.footer_social{
    margin-bottom: 3rem;
}

.footer_link{
    display: inline-flex;
    background-color: lightgreen;
    color: darkblue;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: var(--mb-1);
    transition: .3s;
}

.footer_link:hover{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.footer_copy{
    font-size: var(--small-font-size);
    color: rgb(34, 160, 34);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px){
    .home_button{
        width: initial;
    }

    .nav_menu{
        width: var(--nav-width);
    }

    .about_container,
    .skills_container,
    .services_container,
    .works_container,
    .contact_container,
    .contact_inputs{
        grid-template-columns: repeat(2,1fr);
    }

    .about_data{
        text-align: initial;
    }

    .about_description{
        margin-bottom: var(--mb-5);
    }

    .about_img{
        width: 220px;
    }

    .about_information{
        padding-left: 4rem;
    }

    .education_time{
        padding: 0 2rem;
    }

    .project{
        background: none;
    }

    .project_container{
        background-color: lightgreen;
        grid-template-columns: 2fr 1.2fr;
        padding: 0 2rem;
        border-radius: .5rem;
    }
    
    .project_data{
        padding: 3rem 0;
    }

    .project_title, .project_data{
        text-align: initial;
    }

    .project_img{
        width: 230px;
        align-self: flex-end;
    }

    .contact_inputs{
        display: grid;
        column-gap: 1.5rem;
    }

    .contact_info{
        padding-left: 3rem;
    }

    .footer{
        background: none;
    }

    .footer_container{
        background-color: green;
        padding: 3rem 0;
        border-radius: .5rem;
    }
}

@media screen and (min-width: 1024px){
    body{
        margin: 0;
        padding-left: var(--nav-width);
    }

    .l-header{
        width: 0px;
    }

    .nav_toggle, .nav_logo, .nav_close{
        display: none;
    }

    .nav_menu{
        left: 0;
    }

    .home_container{
        height: 100vh;
    }

    .section{
        padding: 3rem 0 2 rem;
    }

    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }

    .services_container,
    .works_container{
        grid-template-columns: repeat(3,1fr);
    }

    .contact_info{
        grid-template-columns: repeat(3,1fr);
    }
}